<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.softsociety.exam.dao.BoardDAO">

<!--판매글 저장 -->
<insert id="insertBoard" parameterType="Board">
	insert into market_board (
		boardnum,
		memberid,
		category,
		title,
		contents) 
		values(
		market_board_seq.nextval,
		#{memberid},
		#{category},
		#{title},
		#{contents})
</insert>

<!-- Board.html의 판매 정보를 불러오는 SQL -->
<select id="boardlist" parameterType="Board" resultType="Board">
	select boardnum, memberid, title from market_board ORDER BY boardnum DESC
</select>


</mapper>
