<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
		 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>[  판매 정보 게시판 ]</h1>
	<span sec:authorize="isAuthenticated()">
	🌸<span th:text="${#authentication.name}" name="memberid"></span>님 로그인 중🌸
	</span>
	<p><a th:href="@{/board/write}">판매글 등록</a></p>
	<table>
		<tr>
			<td>번호</td>
			<td>제목</td>
			<td>작성자</td>
		</tr>
		<tr th:each="b : ${board}">
			<td th:text="${b.boardnum}"></td>
			<td th:text="${b.title}"></td>
			<td th:text="${b.memberid}"></td>
	</table>
</body>
</html>