<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>판매 정보</title>
<script th:src="@{/js/jquery-3.6.0.js}"></script>
</head>
<body>
	<h1>[ 판매 정보 게시판 ]</h1>
	
	<p sec:authorize="isAuthenticated()">
	<a th:href="@{/board/write}">판매글 등록</a>
	</p>
	
	<table>
		<tr>
			<td>번호</td>
			<td>제목</td>
			<td>작성자</td>
		</tr>
		<tr th:each="board : ${boardlist}">
			<td th:text="${board.boardnum}"></td>
			<td th:text="${board.title}"></td>
			<td th:text="${board.memberid}"></td>
		</tr>
	</table>
</body>
</html>