<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>판매 정보</title>
<script th:src="@{/js/jquery-3.6.0.js}"></script>
<script>
function deleteBoard(boardnum)
{
	if (confirm("게시글을 삭제하시겠습니까?"))
	{
		location.href = "deleteBoard?boardnum=" + boardnum;
		console.log("게시글 삭제");
	}
	else 
	{
		return;
	}
}

function buyBoard(boardnum)
{
	if (confirm("구매하시겠습니까?"))
	{
		location.href = "buyBoard?boardnum=" + boardnum;
		console.log("구매하기");
	}
	else
	{
		return;	
	}
}

</script>

</head>
<body>
	<h1>[ 판매 정보 ]</h1>

	<table>
		<tr>
			<td>작성자</td>
			<td th:text="${read.memberid}"></td>
		</tr>
		<tr>
			<td>작성일</td>
			<td th:text="${read.inputdate}"></td>
		</tr>
		<tr>
			<td>제목</td>
			<td th:text="${read.title}"></td>
		</tr>
		<tr>
			<td>내용</td>
			<td th:text="${read.contents}"></td>
		</tr>
		<tr>
			<span th:if="${read.memberid} == ${#authentication.name}">
			<td><a th:href="|javascript:deleteBoard(${read.boardnum})|">삭제</a></td>
			</span>
			<span th:if="${read.memberid} != ${#authentication.name}">
			<td><a th:href="|javascript:buyBoard(${read.boardnum})|">구매하기</td>
			</span>
		</tr>
		</table>	
			
		<input type="text"><input type="button" value="확인">
			
		<!-- 댓글 구현하기 -->
		<div id="listDiv"></div>
	
</body>
</html>